@define-color bg-primary {{ palette[0] }};
@define-color bg-secondary {{ palette[1] }};
@define-color bg-tertiary {{ palette[2] }};
@define-color bg-selected {{ palette[3] }};

@define-color fg-primary {{ palette[4] }};
@define-color fg-secondary {{ palette[5] }};
@define-color fg-tertiary {{ palette[6] }};
@define-color fg-disabled {{ palette[7] }};

@define-color accent-border {{ palette[0] }};
@define-color accent-primary {{ palette[1] }};
@define-color accent-primary-hover {{ palette[2] }};
@define-color accent-blue {{ palette[3] }};
@define-color accent-red {{ palette[4] }};
@define-color accent-purple {{ palette[5] }};

@define-color border-primary {{ palette[6] }};
@define-color border-focus {{ palette[7] }};

@define-color mpris-album-art-overlay rgba(0, 0, 0, 0.55);
@define-color mpris-button-hover rgba(0, 0, 0, 0.5);
