@define-color bar-bg rgba(0, 0, 0, 0);

@define-color main-bg {{ palette[0] }};
@define-color main-fg {{ palette[1] }};

@define-color wb-act-bg {{ palette[2] }};
@define-color wb-act-fg {{ palette[3] }};

@define-color wb-hvr-bg {{ palette[4] }};
@define-color wb-hvr-fg {{ palette[5] }};
